<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOW EMPLOYEES</title>
</head>
<body>
<h1 style="color:darkred;"> This is Employees Information Table Using Clean Method Validators !!! </h1>
    <table border="3px">
        <thead>
            <tr>
                <th>EMPLOYEE ID</th>
                <th>NAME</th>
                <th>MAIL</th>
                <th>SALARY</th>
                <th>PASSWORD</th>
                <th>C_PASSWORD</th>
            </tr>
        </thead>
        <tbody>
        {% for i in obj %}
            <tr>
                <td>{{i.eid}}</td>
                <td>{{i.name}}</td>
                <td>{{i.mail}}</td>
                <td>{{i.salary}}</td>
                <td>{{i.password}}</td>
                <td>{{i.c_password}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'employeesform_url' %}"> Click Here For employee Form...</a>


</body>
</html>